* {
  padding: 0;
  margin: 0;
}

:root {
  --blue-personal: rgb(4, 72, 169);
}

.blue-personal {
  color: var(--blue-personal);
}

body {
  background-color: #141c3a;
  color: #fff;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.hero,
.locations,
.about,
.skills,
.projects,
.contact {
  min-height: 100vh;
}

.heading {
  text-align: center;
  text-transform: uppercase;
}
.heading:after {
  content: "";
  display: block;
  margin: auto;
  width: 50px;
  border-bottom: 5px solid var(--blue-personal);
}

/* Navbar */
.navbar {
  z-index: 2;
  background: transparent !important;
  padding: 0;
}

/* Hero */
.hero {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .hero {
    background-position: left 200vw center;
  }
}
.hero div:nth-child(1) {
  position: absolute;
  top: 40%;
  left: -10%;
  padding: 1rem 20vw;
}
@media only screen and (max-width: 768px) {
  .hero div:nth-child(1) {
    top: 20%;
  }
  .hero .heroImg {
    width: 100%;
    bottom: 10vh;
  }
}
.heroBG {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}
.heroBG img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
}
.hero .fa-solid.fa-chevron-down {
  position: absolute;
  bottom: 10%;
  right: 50%;
  text-align: center;
  width: 20px;
  font-weight: bolder;
  animation: jump 2s infinite;
}
.hero div button:first-child {
  margin-right: 10px;
}

/* Locations  */
.locations .location {
  position: relative;
  text-align: left;
}
.locations .location.location1 {
  top: 20vh;
}
.locations .location.location3 {
  bottom: 20vh;
}
.locations .location i {
  animation: spin 2s infinite;
  font-size: 20px;
}
.locations .location p {
  color: var(--blue-personal);
}

@media only screen and (max-width: 768px) {
  .locations .location {
    margin-left: 25vw;
    width: fit-content;
  }
  .locations .location.location1 {
    top: 50vh;
  }
  .locations .location.location3 {
    bottom: 50vh;
  }
}

/* About */
.about h4 {
  color: var(--blue-personal);
}
.about .col-md-6 > div {
  color: var(--blue-personal);
  margin-right: 10vw;
}
.about .col-md-6 > div span {
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .about .col-md-6 > div {
    margin-left: 20vw;
  }
}

/* Skills */
.skills .tab-pane {
  padding-top: 20px;
}
.skills .tab-pane button {
  background-color: var(--blue-personal);
  background-image: linear-gradient(to right, darkblue, darkorchid);
  color: #fff;
  padding: 10px 20px;
  border: 0;
  margin: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
  position: relative;
}
.skills .tab-pane button::after {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 50%;
  width: 100%;
  transform: scale(0.9) translateZ(0);
  filter: blur(15px);
  background: linear-gradient(
    to left,
    #ff5770,
    #e4428d,
    #c42da8,
    #9e16c3,
    #6501de,
    #9e16c3,
    #c42da8,
    #e4428d,
    #ff5770
  );
  background-size: 200% 200%;
}
.skills .tab-pane button:last-child {
  border-right: none;
}

/* Projects */
.projects .project {
  border: 1px solid var(--blue-personal);
  border-radius: 5px;
  text-align: center;
}

/* Projects */
.projectDiv {
  padding: 10vh 2vw 20vh;
  color: #ebf5ff;
}

.projectList {
  justify-content: center;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  position: relative;
  bottom: 15vh;
}
@media (max-width: 768px) {
  .projectList {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.projectCard {
  border-radius: 12px;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
  color: #141c3a;
  padding: 40px;
  height: 300px;
  position: relative;
  background-color: #fff;
}
.projectCard .col-lg-3 {
  width: 35%;
}
@media (min-width: 768px) {
  .projectCard {
    padding: 35px 60px;
  }
}
@media (max-width: 768px) {
  .projectCard {
    height: 250px;
  }
}

.projectList .projectCard {
  text-align: center;
}
.projectList .projectCard .projectCardImg img {
  display: block;
  margin: auto;
  width: 100%;
}
@media (max-width: 768px) {
  .projectList .projectCard .projectCardImg img {
    width: 50%;
  }
}

.projectList .projectCard .projectCardBtn {
  margin-top: 25px !important;
}

.projectList .projectCard .projectCardBtn i {
  font-size: 11px;
}

.projectList .projectCard .projectCardBtn a {
  padding: 10px 20px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
}

.projectList .projectCard .projectCardBtn .develop {
  background-color: rgba(20, 28, 58, 0.08);
  color: #141c3a;
}

.projectList .projectCard .projectCardBtn .link {
  background-color: #ebf5ff;
  color: #0068d1;
}

/* Contact */
.contact {
  padding: 20px;
}

.contact .row {
  justify-content: center;
  flex-grow: 1;
}

/* .contact img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
} */

.contact .contactDetails {
  background-color: rgb(1, 31, 74);
  background-color: #282a30;
  color: #b0b3b4;
  height: 250px;
}
.contact .contactDetails i {
  border: 3px solid #fff;
  color: #b0b3b4;
  border-radius: 50%;
  padding: 15px;
  font-size: 1.5rem;
}
.contact .contactDetails i:hover {
  animation: flipMe 2s infinite linear;
}
.contact .contactDetails .contactSocial i:hover {
  position: relative;
  bottom: 3px;
}
.contact .contactDetails h4 {
  letter-spacing: 2px;
}
.contact .contactDetails a > i {
  color: #fff;
  font-size: 1.2rem;
  border: 0;
  padding: 10px;
}

.about .aboutImgParent,
.contact .contactImgParent {
  position: relative;
  height: 20px;
}
.about .aboutImgParent .aboutImg,
.contact .contactImgParent .contactImg {
  position: absolute;
  max-width: 100%;
}
@media only screen and (min-width: 990px) {
  .about .aboutImgParent .aboutImg {
    width: 75%;
  }
  .contact .contactImgParent .contactImg {
    width: 75%;
  }
}

@media only screen and (max-width: 1200px) {
  .contact .contactDetails a > i {
    padding: 6px;
  }
}
@media only screen and (max-width: 992px) {
  .contact .contactDetails a > i {
    padding: 6px;
  }
  .about .aboutImgParent,
  .contact .contactImgParent {
    height: 460px;
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .about .aboutImgParent,
  .contact .contactImgParent {
    height: 300px;
    padding: 0;
  }
}

.contactDivs div:nth-child(1) {
  animation: rotateTopLeft 1s linear;
}
.contactDivs div:nth-child(2) {
  animation: rotateTopRight 1s linear;
}
.contactDivs div:nth-child(3) {
  animation: rotateBottomLeft 1s linear reverse;
}
.contactDivs div:nth-child(4) {
  animation: rotateBottomRight 1s linear reverse;
}

@keyframes rotateTopLeft {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotateTopRight {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotateBottomLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
}
@keyframes rotateBottomRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-20deg);
  }
}

@keyframes flipMe {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(359deg);
    -moz-transform: rotateY(359deg);
    -ms-transform: rotateY(359deg);
    -o-transform: rotateY(359deg);
    transform: rotateY(359deg);
  }
}

/* Animations */
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
